.post { 
  width: 100%;
  padding: 0;
  margin: 0;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background-color: yellow;
}
.title {
  margin: 0;
  padding: 0;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
